

select {
    @apply px-2 bg-transparent cursor-pointer border-1 border-solid hover:text-orange-600;
    outline: none;
    transition: background-color 0.1s ease-in-out;
}

select:focus-visible {
    @apply outline-none;
}
option {
    @apply dark:bg-black outline-none border-0;
}

input[type="number"], input[type="text"], textarea {
    @apply bg-white dark:bg-black border-1 rounded p-2 ;
}

label{
    display: block;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

input[type=number] {
    /*for absolutely positioning spinners*/
    position: relative; 
    padding: 0.5rem;
    padding-right: 25px;
    margin: 0.5rem 0;
    color: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1; 
}

input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button !important;
    width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

input, input[type="range"] {
    accent-color: #f97316;

}

.btn {
    @apply px-4 py-1 rounded inline-block
        cursor-pointer border-1
        hover:border-orange-600
        disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;

}
.primary-btn {
    @apply px-4 py-1 rounded inline-block
        bg-orange-700 text-white cursor-pointer
        hover:bg-orange-600
        disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;


}

.icon-btn {
    @apply inline-block cursor-pointer select-none
        opacity-75 transition duration-200 ease-in-out
        hover:opacity-100 hover:text-orange-600;
    font-size: 0.9em;
}

a {
    @apply text-orange-600;
}
a:hover {
    @apply text-orange-500;
    transition: background-color 0.1s ease-in-out;
}
